<div class="container-fluid background">

    <div class="container">
        <div class="d-flex justify-content-center pt-5 mb-5">
            <h3>Bem vindo ao...</h3>
        </div>
    </div>

    <div class="container">
        <div class="mt-5 d-flex justify-content-center">
            <div class="col-md-8 col-sm-12 col-lg-5">
                <div class="justify-content-center">
                    <div class="card text-center">
                        <div class="shadow p-3 mb-3 bg-white border rounded">
                            <ul class="nav">
                                <li class="col-md-6">
                                    <button type="button" (click)="cadastroEstado()" class="border-0 btn btn-outline-{{ cadastroCor }} btn-lg btn-block">Cadastrar-se</button>
                                </li>
                                <li class="nav-item col-md-6">
                                    <button type="button" (click)="loginEstado()" class="border-0 btn btn-outline-{{ loginCor }} btn-lg btn-block">Login</button>
                                </li>
                            </ul>
                        </div>
                        <div class="card-body">
                            <form>
                                <div class="text-left" *ngIf="cadastro" >
                                    <app-cadastro></app-cadastro>
                                </div>
                                <div class="text-left" *ngIf="login" >
                                    <app-login></app-login>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>