/* Cor de fundo */
.background-collor {
    background-color: #E8E6E6;
    height: auto;
    width: 100%;
    background-size: cover;
}

.background-image {
    background-size: cover;
    height: auto;
}