<div class="container-fluid p-0 m-0 background-collor background-image">
    <app-nav-bar [jogos]="jogos"></app-nav-bar>

    <div class="d-flex justify-content-end mt-5 mb-5 mr-5">
        camera
    </div>

    <div class="container d-flex justify-content-center">
        <div class="row mt-5 mb-5">
            <div class="row mt-5" style="width:10rem;">
                <img src="{{ usuario.urlfoto }}" class="card-img-top rounded-circle" alt="Foto do usuário">
            </div>
        </div>
    </div>
    <div class="container col-lg-8 col-md-8 col-sm-10">
        <div class="d-flex justify-content-end mb-2" *ngIf="mostrarBotao" >
            <button type="button" class="btn btn-dark btn-lg border-white rounded">{{ mensagemAmizade }}</button>
        </div>
        <div class="justify-content-center">
            <div class="card text-center">
                <div class="card-header p-3 mb-1 bg-white rounded">
                    <div class="nav">
                        <div class="col-md-12 col-12 p-0">
                            <button type="button" class="border-0 btn btn-outline-secondary btn-lg btn-block">
                                <h4>Publicações</h4>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="container d-flex flex-wrap mb-1" style="height: auto;">
                    <div class="card-deck mt-3" *ngFor="let item of feed">
                        <img class="card-img-top ml-4 mr-3" src="{{ item.urlfotojogo }}" style="width: 40vh;" alt="{{ item.nickjogo }}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
