<div class="card" style="height: 83vh; width: 35vh;">
    <div class="card-header p-0 border-0 m-0">
        <input [(ngModel)]="findUser" class="pl-2 p-0 m-0 form-control boder-0 search-collor" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
    </div>
    <div class="card-body pl-0 m-0 pt-0 pr-0">
        <div class="list-group p-0">
            <a class="media list-group-item-action list-group-item-light pt-2 pb-2" *ngFor="let user of users">
                <img class="ml-2 pl-0 card-img-top rounded-circle" src="{{ user.urlperfil }}" style="width: 3rem;" alt="Foto de usuário">
                <h6 class="mb-1 mt-3 ml-3 mr-4">{{ user.nick }}</h6>
            </a>
        </div>
    </div>
  </div>