<div class="card" style="height: 80vh;">
    <div class="card-header p-0 border-0 m-0">
        <input class="pl-2 p-0 m-0 form-control boder-0 search-collor" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
    </div>
    <div class="card-body pl-0 m-0 pt-0 pr-0">
        <div class="list-group p-0 ">
            <a class="media list-group-item-action list-group-item-light pt-2 pb-2">
                <img class="ml-1 pl-0 card-img-top rounded-circle" src="../../../assets/Foto.jpg" style="width: 3rem;" alt="Foto de usuário">
                <h6 class="mb-1 mt-3 ml-2 mr-4">Nick do usuário</h6>
                <img class="mt-2 card-img-top rounded-circle" src="../../../assets/Foto.jpg" style="width: 2rem;" alt="Foto de usuário">
            </a>
            <a class="media list-group-item-action list-group-item-light pt-2 pb-2">
                <img class="ml-1 pl-0 card-img-top rounded-circle" src="../../../assets/Foto.jpg" style="width: 3rem;" alt="Foto de usuário">
                <h6 class="mb-1 mt-3 ml-2 mr-4">Nick do usuário</h6>
                <img class="mt-2 card-img-top rounded-circle" src="../../../assets/Foto.jpg" style="width: 2rem;" alt="Foto de usuário">
            </a>
        </div>
    </div>
  </div>