<div class="container-fluid p-0 m-0">
   <nav class="navbar navbar-light navbar-collor">
        <form class="form-inline col-lg-12">
            <h3 class="mr-3 col-lg-1 col-md-1 col-sm-1 col-1 corLogo">Logo</h3>
            <input class="col-lg-5 col-md-5 col-sm-5 col-6 form-control ml-5 rounded-search" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
        </form>
    </nav>
    <div class="nav-collor pt-1 pb-1">
        <ul class="nav container form-inline" >
            <li class="nav-item ml-3" style="width: 3rem;" *ngFor="let jogo of jogos">
                <img src="{{ jogo.urlperfil }}" class="card-img-top rounded-circle" alt="Foto do jogo">
            </li>
        </ul>
    </div>
</div>