<div class="container-fluid p-0 m-0 background-collor">
   <nav class="navbar navbar-light navbar-collor">
        <form class="form-inline col-lg-12">
            <h3 class="mr-3 col-lg-1 col-md-1 col-sm-1 col-1 cor">Logo</h3>
            <input class="col-lg-5 col-md-5 col-sm-5 col-6 form-control ml-5 rounded-search" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
        </form>
    </nav>
    <ul class="nav nav-collor">
        <div class="container form-inline">
            <li class="nav-item ml-3" style="width: 3rem;">
                <img src="../../../assets/Foto.jpg" class="card-img-top rounded-circle" alt="Foto do jogo">
            </li>
            <li class="nav-item ml-3" style="width: 3rem;">
                <img src="../../../assets/Foto.jpg" class="card-img-top rounded-circle" alt="Foto do jogo">
            </li>
            <li class="nav-item ml-3" style="width: 3rem;">
                <img src="../../../assets/Foto.jpg" class="card-img-top rounded-circle" alt="Foto do jogo">
            </li>
            <li class="nav-item ml-3" style="width: 3rem;">
                <img src="../../../assets/Foto.jpg" class="card-img-top rounded-circle" alt="Foto do jogo">
            </li>
        </div>
    </ul>
</div>