/* Nav-bar */
.navbar-collor {
    background: linear-gradient(90deg, #812560 0%, #812560 54.17%, #12050D 100%);
}

/* Barra de pesquisa */
.rounded-search {
    border-radius: 20px;
}

/* Nav */
.nav-collor {
    background-color: white;
}

/* Remover */
.corLogo {
    color:  white;
}

.collor-icon {
    color: #c2c2c2;
}