/* Cor de fundo */
.background-collor {
    background-color: #E8E6E6;
    height: 180vh;
    width: 100%;
    background-size: cover;
}

#background-image {
    height: 70vh;
    background-size: cover;
}