<div class="container-fluid p-0 m-0 background-collor">
    <app-nav-bar [jogos]="jogos" [jogosList]="jogos" [usuarios]="users"></app-nav-bar>
    
    <div class="container-fluid" id="background-image">
        <div class="d-flex justify-content-end mb-5 mr-5">
            camera
        </div>
        <div class="container d-flex justify-content-center">
            <div class="row mt-5 mb-5">
                <div class="row mt-5" style="width:10rem;">
                    <img src="{{ usuario.urlperfil }}" class="card-img-top rounded-circle" alt="Foto do usuário">
                </div>
            </div>
        </div>
    </div>
    <div class="container col-lg-8 col-md-10 col-sm-10">
        <app-feed [feed]="feed"></app-feed>
    </div>
    <div class="p-0 fixed-bottom d-flex justify-content-end">
        <app-contatos [usuarios]="contatos" [users]="contatos"></app-contatos>
    </div>
</div>