<div class="container-fluid p-0 m-0 background-collor">
    <app-nav-bar [jogos]="jogos" [jogosList]="jogos" [usuarios]="users"></app-nav-bar>
    
    <div class="container-fluid" id="background-image">
        <div class="row">
            <div class="col-lg-10 col-md-10 col-sm-10">
                <div class="d-flex justify-content-end">
                    <button class="btn btn-outline-dark border-0 mt-2 button-camera">
                        <fa-icon size="lg" [icon]="faCamera"></fa-icon>
                        Camera
                    </button>
                </div>
                <div class="container d-flex justify-content-center mt-5">
                    <div class="container d-flex justify-content-center">
                        <div class="row mt-5 mb-5">
                            <div class="row mt-5" style="width:10rem;">
                                <img src="{{ usuario.urlperfil }}" class="card-img-top rounded-circle" alt="Foto do usuário">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container col-lg-8 col-md-10 col-sm-10">
                    <app-feed [feed]="feed"></app-feed>
                </div>
            </div>
            <div class="p-0 col-lg-2 col-md-2">
                <div class="d-flex justify-content-end position-fixed">
                    <app-contatos [usuarios]="contatos" [users]="contatos"></app-contatos>
                </div>
            </div>
        </div>
    </div>
</div>