<div class="container-fluid p-0 m-0 background-collor">
    <app-nav-bar [jogos]="jogos"></app-nav-bar>
    
    <div class="container-fluid" id="background-image">
        <div class="d-flex justify-content-end mb-5 mr-5">
            camera
        </div>
        <div class="container d-flex justify-content-center">
            <div class="row mt-5 mb-5">
                <div class="row mt-5" style="width:10rem;">
                    <img src="../../../assets/Foto.jpg" class="card-img-top rounded-circle" alt="Foto do usuário">
                </div>
            </div>
        </div>
    </div>
    <div class="container col-lg-5 col-md-8">
        <app-feed></app-feed>
        <app-feed></app-feed>
    </div>
    <div class="p-0 fixed-bottom d-flex justify-content-end">
        <app-contatos></app-contatos>
    </div>
</div>