<div class="card text-center">
    <div class="card-header header-collor">
        <img src="../../../assets/Foto.jpg" class="card-img-top rounded-circle" style="width: 4rem;" alt="Foto de perfil">
        <h5 class="card-title mt-1 corNome">Nick do usuário</h5>
    </div>
    <div class="card-body text-justify">
        <p class="card-text ">Com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional.</p>
        <div class="text-center">
            <img src="../../../assets/Foto.jpg" class="card-img-top" alt="Foto de perfil">
        </div>
    </div>
  </div>