<div class="card text-center mt-4" *ngFor="let dados of feed; trackBy: trackById">
    <div class="card-header header-collor">
        <img src="{{ dados.urlfotoperfil }}" class="card-img-top rounded-circle" style="width: 4rem;" alt="Foto de perfil">
        <h5 class="card-title mt-1 corNome">{{ dados.nick }}</h5>
    </div>
    <div class="card-body text-justify col-lg-12 col-md-12 col-sm-12 col-12">
        <p class="card-text">{{ dados.mensagem }}</p>
        <div class="text-center" *ngIf="dados.urlfotojogo" >
            <img src="{{ dados.urlfotojogo }}" class="card-img-top" alt="Foto de perfil">
        </div>
        <input class="col-lg-12 col-md-12 col-sm-5 col-6 form-control mt-2 rounded-search" type="text" placeholder="Deixe um comentário" aria-label="Pesquisar">
    </div>
</div>